.Resume{
    font-size:20px;
    border-radius: 20px;
    padding: 6px;
    color: white;
    background-color: dodgerblue;
}

.CV{
    font-size:20px;
    border-radius: 20px;
    padding: 6px;
    color: white;
    background-color: dodgerblue;
}